<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OurBibleLiteMac</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>042AE7AD9561FE738F6EAB3F0B42A151BA202C87</string>
				<key>dateExpires</key>
				<string>2020/6/27</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.network.server</key>
				<true/>
			</dict>
			<key>name</key>
			<string>OurBibleLiteMac.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LW2C2PTSH8</string>
				<key>name</key>
				<string>Lijun Ni</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
